h1 {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: papayawhip;
}

button {
    color: rgb(51, 4, 4);
    background-color:beige
}

input {
    color: rgb(51, 4, 4);
    background-color: beige;
}